DATABASE_URL="postgresql://USER:PASSWORD@YOUR-POOLER-HOST.neon.tech/DB_NAME?sslmode=require&pgbouncer=true&connect_timeout=15"
DIRECT_URL="postgresql://USER:PASSWORD@YOUR-DIRECT-HOST.neon.tech/DB_NAME?sslmode=require"
